:root {
  --subtitle-color: #212121;
  --second-title-color: #212121;
  --text-color: #757575;
  --accent-color: #2196f3;
  --footer-color: #2f303a;
  --body-color: #ffffff;
  --transit: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Roboto", sans-serif;
  color: #212121;
  background-color: var(--body-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/*-------------------------------------Header---------------------------*/

.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-logo,
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  padding: 32px 0;
  transition: color var(--transit);
}

.header-link.current,
.header-link:hover,
.header-link:focus,
.header-tel:hover,
.header-tel:focus,
.header-mail:hover,
.header-mail:focus,
.footer-mail:hover,
.footer-mail:focus,
.footer-tel:hover,
.footer-tel:focus {
  color: var(--accent-color);
}

.header-list {
  display: flex;
}

.header-contacts {
  display: flex;
  margin-left: auto;
}

.header-list {
  margin-left: 93px;
}

.header-item,
.header-contacts-item {
  margin-right: 50px;
}

.header-item:last-child,
.header-contacts-item:last-child {
  margin-right: 0;
}

.header-tel,
.header-mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  padding: 4px 0;
  display: flex;
  align-items: center;
  transition: color var(--transit);
}

.contacts-icon {
  fill: #757575;
  margin-right: 10px;
  transition: fill var(--transit);
}

.header-mail:hover .contacts-icon,
.header-mail:focus .contacts-icon,
.header-tel:hover .contacts-icon,
.header-tel:focus .contacts-icon {
  fill: var(--accent-color);
}

.header-link.link.current {
  position: relative;
}

.header-link.link.current::after {
  content: " ";
  position: absolute;
  bottom: -1px;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
}

/*-----------------------Main---------------------*/

.main-section {
  background-color: #2f303a;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  margin: 0 auto;
}

.main-text {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  max-width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.main-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  width: 216px;
  height: 50px;
  border: none;
}

/*---------------------------Переваги---------*/

.preference-section {
  padding-bottom: 0;
}

.preference-list {
  display: flex;
}

.preference-item {
  max-width: 270px;
  width: 270px;
  margin-left: 30px;
}

.preference-item:first-child,
.employment-item:first-child,
.section-command-item:first-child {
  margin-left: 0;
}

.preference-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--subtitle-color);
  margin-bottom: 10px;
}

.preference-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.preference-box {
  min-width: 270px;
  min-height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.employment-list {
  display: flex;
}

.employment-item {
  margin-left: 30px;
  position: relative;
}

.employment-top-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  left: 0;
  bottom: 0;
  position: absolute;
  background: rgba(47, 48, 58, 0.8);
  padding-top: 27px;
  padding-bottom: 27px;
  width: 100%;
}

/*-------------------------Команда--------------*/

.section-command {
  background: #f5f4fa;
}

.command-card {
  padding: 30px 0;
  text-align: center;
}

.section-command-list {
  display: flex;
}

.section-command-item {
  background: #ffffff;
  width: fit-content;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-left: 30px;
}

.command-soc-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.command-soc-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--body-color);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color var(--transit);
}

.command-soc-icon {
  fill: #afb1b8;
  transition: fill var(--transit);
}

.command-soc-link:hover,
.command-soc-link:focus {
  background-color: var(--accent-color);
  outline: none;
}

.command-soc-link:hover .command-soc-icon,
.command-soc-link:focus .command-soc-icon {
  fill: #ffffff;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
  margin-bottom: 50px;
  text-align: center;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--subtitle-color);
  margin-bottom: 10px;
}

.job-title {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--text-color);
  margin-bottom: 16px;
}

/*----------------------------Clients ----------------------*/

.section-clients {
  background-color: var(--body-color);
}

.clients-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--subtitle-color);
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.clients-link {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  background-color: var(--body-color);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border-color var(--transit);
}

.clients-item {
  min-width: 170px;
  min-height: 92px;
}

.clients-icon {
  fill: #afb1b8;
  transition: fill var(--transit);
}

.clients-link:hover .clients-icon,
.clients-link:focus .clients-icon {
  fill: var(--accent-color);
}

.clients-link:hover,
.clients-link:focus {
  border-color: var(--accent-color);
  outline: none;
}

/*---------------------------------Footer------------------*/
.footer {
  background: var(--footer-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-contacts {
  margin-top: 20px;
}

.address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-mail,
.footer-tel {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--transit);
}

.footer-contacts-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-soc {
  margin-left: 70px;
  margin-right: 93px;
}

.footer-soc-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-subscription {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  padding-bottom: 20px;
}

.footer-soc-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.footer-soc-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: block;
}

.footer-soc-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff1a;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color var(--transit);
}

.footer-soc-icon {
  fill: #ffffff;
}

.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: var(--accent-color);
}

.input-subscription {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
  width: 358px;
  height: 50px;
  margin-right: 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.input-subscription::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-input {
  display: flex;
}

.btn-sbsc {
  font-family: inherit;
  width: 200px;
  height: 50px; 
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color var(--transit), filter var(--transit);
}

.btn-sbsc:hover,
.btn-sbsc:focus {
  background-color: #188CE8;
  outline: none;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.footer-send-icon {
  fill: #ffffff;
}

/* ------------------------ Portfolio -------------------------*/

.works {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.works-item:not(:first-child) {
  margin-left: 8px;
}

.btn-list {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: #212121;
  cursor: pointer;
  background: #f5f4fa;
  border-radius: 4px;
  border: none;
  min-width: 73px;
  padding: 6px 22px;
  transition: color var(--transit), background-color var(--transit),
    box-shadow var(--transit);
}

.btn-list:hover,
.btn-list:focus {
  color: #ffffff;
  background: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border: none;
}

.project {
  background: #ffffff;
  width: 370px;
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.project-item {
  width: fit-content;
}

.project-top-wrap {
  position: relative;
  overflow: hidden;
}

.project-top-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  height: 100%;
  transform: translateY(100%);
  transition: transform var(--transit);
  overflow: auto;
}

.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--subtitle-color);
  margin-bottom: 4px;
}

.project-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.project-link:hover,
.project-link:focus {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.project-link {
  transition: filter var(--transit);
}

.project-link:hover .project-top-text {
  transform: translateY(0);
}

/*------------------Модальне вікно-----------*/

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity var(--transit), visibility var(--transit);
}

.modal {
  width: 528px;
  min-height: 581px;
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--transit);
  padding: 40px;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal-btn {
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--subtitle-color);
  margin-bottom: 12px;
}

.modal-input {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  outline: transparent;
  transition: border-color var(--transit);
}

.modal-input:focus,
.modal-comment:focus {
  border-color: var(--accent-color);
}

.modal-input:focus + .modal-input-icon {
  fill: var(--accent-color);
}

.modal-comment::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-label-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--text-color);
  display: block;
  margin-bottom: 4px;
}

.input-wrap {
  position: relative;
}

.modal-input-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  transition: fill var(--transit);
}

.modal-comment {
  width: 100%;
  height: 120px;
  margin-bottom: 20px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  outline: transparent;
  transition: border-color var(--transit);
}

.modal-field {
  margin-bottom: 30px;
}

.check-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.check-text span {
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: background-color var(--transit), border-color var(--transit), fill var(--transit);
}

.input-check:checked + .check-text span {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  fill: #ffffff;
}

.input-check:focus + .check-text span {
  border-color: var(--accent-color); 
}

.privacy-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  margin-left: 5px;
}

.btn-submit {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 200px;
  height: 50px;
  cursor: pointer;
  border: none;
  margin: 0 auto;
  display: block;
  transition: background-color var(--transit), filter var(--transit);
}

.btn-submit:hover,
.btn-submit:focus {
  background-color: #188CE8;
  outline: none;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.modal-close-icon {
  transition: fill var(--transit);
}

.modal-btn:hover>.modal-close-icon,
.modal-btn:focus>.modal-close-icon {
  fill: var(--accent-color);
}